.feature-section {
    padding-bottom: 47px;
}

.feature-items {
    display: flex;
    /* justify-content: center; */
}

.detail-item {
    width: 270px;
    padding-bottom: 0px;
}

.detail-item+.detail-item {
    margin-left: 30px;
}

.feature-warp {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;

    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.caption-detail {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.detail-text {
    max-width: 270px;
    /* height: 75px; */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}